@media (max-width: 1000px) {
  .titulo {
    padding: 15px 30px ;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
  }
  .contenedor-principal {
    flex-direction: column;
    min-height: 960px;
    flex-wrap: wrap;
  }
}
* {
  padding: 0;
  margin: 0;
}
html,body {
  background-color: #ff8fab;
}
.contenedor-titulo {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24%;
}
.titulo {
  width: 100%;
  margin: 20px auto;
  display: flex;
  font-family: 'Kalam', cursive, sans-serif;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  color: white;
  text-decoration: underline;
  box-shadow: 0 0 20px white;
  border-radius: 30px;
  border: 1px solid whitesmoke;
}
 .intro {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 55px 30px 10px 30px;
}
.titulo-parrafo {
  font-size: 30px;
  font-family:'Lucida Sans', sans-serif;
}
.parrafo {
  font-size: 19px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 70px;
  margin-right: 70px ;
} 
.contenedor-principal {
  border: 4px solid #3AA8C1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px auto;
  width: 70%;
  height: 30rem;
}
